main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tweets{
    text-align: start;
    max-width: 550px; 
}

.relative{
    position: relative;
}

#redirect-top{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
}

@media (width < 600px) {
    .tweets{
        max-width: 90vw;
    }
}